.title {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  img {
    height: 50px;
    margin: 10px;
  }
}

.container-main {
  margin: 70px 0px;
}

.container {
  height: 100vh;
}
