.title {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  img {
    height: 50px;
    margin: 10px;
  }
}

.container-main {
  margin: 70px 0px;

  .row {
    margin-bottom: 30px;
  }
}

.container {
  height: 100vh;
}

.map-container {
  height: 150px;
  background-color: $gray;
}

.POI-list {
  li {
    text-decoration: none;
  }

  p {
    font-size: 20px;
    font-weight: bold;
  }
}

.btn-fw {
  width: 100%;
}


.POI-img {
  width: 500px;
}

.game-card {
  cursor: pointer;
}

.game-card-pic {
  width: 100%;
  height: 120px;
  background-size: cover;
  border-radius: 4px;
  padding: 10px;
}

.game-card-col {
  padding: 10px;
}
