// Specific CSS for your home-page
.container-homepage {
  width: 100%;
}

.wrapper-homepage {
  flex-grow: 1;
  background-color: #fff;
  padding: 20px 74px;
}

@media (max-width: 320px) {
  /* For a screen < 320px, this CSS will be read */
  .wrapper{
    background-color: rgba(134, 12, 230, 0.1);
  }
}
