<div
    id="map"
    style="width: 100vw;
    height: 100vh;"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    data-markers="<%= @markers.to_json %>"
    data-game="off"
  >
</div>

<%= render "menu_score", game: @game, poi: @poi, next_poi: @next_poi, answer: @answer %>
