

<!-- list -->
  <%  games.each_with_index do |game, index| %>
    <% unless game.score_one.nil?  %>
      <div class="row vertical-center background-purple score-row flex-center ">
        <div class="col-xs-4 border-column">
          <div id="rank" class="white-text flex-center ">
            <%= "#{index + 1}" %>
          </div>
        </div>
        <div class="col-xs-4 border-column ">
          <div id="leaderboard-username" class="white-text flex-center">
            <%= game.winner.username %>
          </div>
        </div>
        <!-- no user photo for Demo Day -->
        <!-- <div class="col-xs-3 border-column take-space">
          <img class="picture-leaderboard" src="<%#= cl_image_path game.winner.photo %>">
        </div> -->
        <div class="col-xs-4 border-column">
          <div id="leaderboard-score" class="white-text flex-center">
            <p><%= game.score %> pts</p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
