<!-- leaderboard: headers + list  -->
<!-- headers -->

<div class="container container-center container-background">

  <div class="row">
    <div class="col-xs-4 border-column take-space text-center">
      <h1>Rank</h1>
    </div>
    <div class="col-xs-4 border-column take-space text-center">
      <h1>Username</h1>
    </div>

    <div class="col-xs-4 border-column take-space text-center">
      <h1>Score</h1>
    </div>
  </div>

<!-- list -->
  <%  games.each_with_index do |game, index| %>
    <% unless game.score_one.nil?  %>
      <div class="row vertical-center">
        <div class="col-xs-4 border-column take-space">
          <p><%= "#{index + 1}" %></p>
        </div>
        <div class="col-xs-4 border-column take-space">
          <p><%= game.winner.username %></p>
        </div>

        <div class="col-xs-4 border-column take-space">
          <p><%= game.score %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
