.banner {
  color: white;
  text-align: center;
  height: calc(100vh - 180px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  margin-bottom: 30px;
  color: #FFFFFF;
}

body {
  background-color: #ffffff;
}
