.challenges {
display: flex;
align-items: center;
justify-content: space-between;
}

#challenges-won {
  flex: 0 0 45%;
  padding-left: 30px;
  padding-right: 30px;
}

#challenges-lost {
  flex: 0 0 45%;
  padding-left: 30px;
  padding-right: 30px;
}
// .challenge-results {
//    margin-bottom: 40px;

//   h2 {
//     margin-top: 15px;
//   }
// }

// .challenges-won-lost {
//  margin-bottom: 40px;

//   h2 {
//     margin-top: 15px;
//   }
// }
