.challenges {
display: flex;
align-items: center;
justify-content: center;

}

.challenge-results {
   margin-bottom: 40px;

  h2 {
    margin-top: 15px;
  }
}

.challenges-won-lost {
 margin-bottom: 40px;

  h2 {
    margin-top: 15px;
  }
}
