#flex-container-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-bottom: 20px;
  // margin-top: 20px;
  min-height: calc(100vh - 100px);
  max-width: 900px;
}

#flex-container-signin {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-bottom: 20px;
  // margin-top: 20px;
  min-height: calc(100vh - 70px);
}

.form-inputs.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: lighter;
}

.registration-box {
  background-color: #ffffff;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  // margin-top: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.form-group {
  margin: 5px 0px;
}

.form-control {
  border-radius: 5px;
}

a {
  text-align: text-center;
  color: #2ed3b5;
}

.form-control:focus {
  border-color: #2ed3b5;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.pad-top{
  padding-top: 20px;
}
