// .border-column {
//   border-left: 1px solid black;
//   &:first-child {
//     border-left: none;
//   }
// }

.container-center p {
  font-family: $body-font;
  color: white;
}

.container-center h1 {
  color:white;
}

.container-background {
  background-color: #fff;
}

.picture-leaderboard {
  height: 50px;
  width: 50px;
}

.container-center {
  margin: 20px auto;
}


.vertical-center {
  display: flex;
  align-items: center;
  text-align: center;
}

.take-space {
  height: 100%;
}

.row-leaderboard {
  background-color: white;
  height: 50px;
  text-align: left;

  h3 {
    font-size: 30px;
    color: #000;
    margin-top: 10px;
  }

  .leaderboard-rank{
    background-image: image-url("rank.svg");
    background-size: 100% 100%;
    border: none;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      color: white;
      margin: 0;
    }
  }
}
