.btn-close {
  height: 25px;
  margin-right: -25px;
  margin-top: -10px;
}

.btn-close-home {
  height: 25px;
  margin-right: -25px;
  margin-top: -40px;
}

.close {
  color: $purple;
  opacity: 1;
}

.m-h {
  border-bottom: none;

  h2 {
    margin-bottom: 5px;
  }
}

.m-c {
  background-image: image-url("card_modal.svg");
  background-size: 100% 100%;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  background-clip: padding-box;
  outline: 0;
  background-color: rgba(255, 255, 255, 0);
  padding: 40px;
}

.m-c-h {
  background-image: image-url("card_modal.svg");
  background-size: 100% 100%;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  background-clip: padding-box;
  outline: 0;
  background-color: rgba(255, 255, 255, 0);
  padding: 40px;
  margin-top: 0px;
}

.m-b {
  padding: 15px;
}

.POI-mod-header {
  width: 100%;
  height: 300px;
  background-size: cover;
  border-radius: 4px;
}

.theme-card-pic {
  width: 100%;
  height: 200px;
  background-size: cover;
  border-radius: 4px;
  padding: 10px;
  margin: 15px 0px;
}

@media (max-width: 414px), (max-height: 414px) {
  /* For a screen < 414px, this CSS will be read */

  .POI-mod-header{
  height: 200px;
  }

  .m-c {
    background-image: image-url("card_modal.svg");
    background-size: 100% 100%;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    background-clip: padding-box;
    outline: 0;
    background-color: rgba(255, 255, 255, 0);
    padding: 40px;
  }

  .m-c-h {
    background-image: image-url("card_modal.svg");
    background-size: 100% 100%;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    background-clip: padding-box;
    outline: 0;
    background-color: rgba(255, 255, 255, 0);
    padding: 40px;
    margin-top: 0px !important;
  }
 }
