.modal-backdrop {

}

.btn-close {
  height: 25px;
  margin-right: -46px;
  margin-top: -57px;
}

.close {
  color: $purple;
  opacity: 1;
}

.m-h {
  // top: 15px;
  // left: 34px;
  border-bottom: none;

  h2 {
    margin-bottom: 5px;
  }
}

.m-c {
  background-image: image-url("card_modal.svg");
  background-size: 100% 100%;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  background-clip: padding-box;
  outline: 0;
  background-color: rgba(255, 255, 255, 0);
  padding: 40px;
}

.m-b {
  // bottom: 88px;
  padding: 15px;
}

.POI-mod-header {
  width: 100%;
  height: 300px;
  background-size: cover;
  border-radius: 4px;
}
