#burger{
  position: fixed;
  right: 0;
  top: 0;
  color: white;
  background: #860CE6;
  font-size: 16px;
  padding: 10px 10px 20px 20px;
  border-radius: 0% 0% 0% 100%;
  transition: 1s;
  cursor: pointer;
  z-index: 2999;
}

#quit{
  position: fixed;
  top: 0;
  color: white;
  font-size: 32px;
  padding: 16px;
  display: none;
  cursor: pointer;
}

#links{
  display: none;
  flex-direction: column;
  width: 100vw;
  height: 50vh;
  padding: 25vh 0;
  justify-content: space-around;
  .m-menu {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 2em;
    font-family: 'Shadows Into Light Two';
    z-index: 3000;
  }
}

