.menu-score-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-score {
  position: absolute;
  top: 80px;
  right: 40px;
  z-index: 3000;
  // display: flex;
  // flex-direction: column;
  // // justify-content: space-around;
  // align-items: center;

  .score-card {
    width: 350px;
    height: 270px;
    z-index: 3000;
    padding: 20px;
    overflow: hidden;
  }

  .score-card.open {
    height: 650px;
    transition: all 1.5s ease-in-out;
  }

  .score-card-lvl-2 {
    height: 650px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .icon-great {
    text-align: center;
    width: 100%;
  }

  .great, .bad {
    height: 60px;
  }

  .time {
    height: 33px;
    margin-right: 10px;
  }

  .POI_counter h2 {
    background-color: white;
    color: $purple;
    border-radius: 50%;
    padding: 10px;
  }

  .POI_name {
    padding: 0px 5px;
  }

  .icon {
    height :50px;
    width: 50px;

  }
  .icon-pin {
    width: 15px;
    height: 31px;
    margin-right: 10px;
  }

  h1, h2, h3, h4, h5 {
    color: #fff;
  }
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px
  }

  p {
    color: #fff;
    font-size: 20px;
    margin: 0;
    padding: 0;
  }

  .row-pin {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
  }

  .row-time {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
  }

  .btn-play{
    display: none;
  }
}

// ###########################################################################
@media (max-width: 414px) {
  /* For a screen < 414px, this CSS will be read */

  .menu-score-parent{
    position: relative;
    bottom: 60px;
  }
  .menu-score {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3000 !important;
    color: white;
    background: #860CE6;
    cursor: pointer;
    width: 100vw;
    height: 100px;
    transition: all 0.3s ease-in;
  }

  .menu-score-container {
    margin-top: 0px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 25vh;
  }

  .menu-score {
    position: absolute;
    top: 60px;
    right: 20px;
    z-index: 3000;

    h1, h2, h3, h4, h5 {
      color: #fff;
    }

    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 20px;
    }

    p {
      font-size: 17px;
    }
  }

  .score-card {
    width: 350px;
    height: 270px;
    z-index: 3000;
    padding: 20px;
    overflow: hidden;
  }

  .score-card.open {
    height: 650px;
    transition: all 1.5s ease-in-out;
  }

  .score-card-lvl-2 {
    height: 650px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .icon-great {
    text-align: center;
    width: 100%;
  }

  .great, .bad {
    height: 60px;
  }

  .time {
    height: 33px;
    margin-right: 10px;
  }

  .POI_counter {
    position: absolute;
    z-index: 3000;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    background-color: $purple;
  }

  .POI_counter h2 {
    color: #fff;
    padding: 10px;
    margin: 0;
    font-size: 20px;
  }

  .POI_name {
    z-index: 3000;
    position: absolute;
    top: -3px;
    left: 60px;
    text-align: left;
    margin-left: 0;
    /* padding: 0px 5px; */
    /* border-radius: 50%; */
    /* background-color: #860CE6; */

    h2 {
      color: $purple;
      font-size: 20px;
      margin-left: 0;
    }
  }

  .icon {
    height :50px;
    width: 50px;
    display: none;

  }
  .icon-pin {
    width: 10px;
    height: 23px;
    margin-right: 10px;
    transform: rotate(-20deg);
  }



  p {
    color: #fff;
    font-size: 20px;
    margin: 0;
    padding: 0;
  }

  .row-pin {
    display: flex;
    flex-direction: row;
    padding-bottom: 15px !important;
    /* align-items: center; */
    /* justify-content: center; */
  }

  .row-time {
    display: flex;
    flex-direction: row;
    padding-bottom: 0px !important;
  }

  .score-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 13px;
    justify-content: center;
  }

  .btn-mobile-none{
    display: none;
  }

  .score-answer h1{
    font-size: 24px;
    margin: 0px 13px;
  }

  .display-none {
    opacity: 0;
  }
}
