<% if browser.device.mobile? %>
  <%= render 'poi_mobile_show' %>
<% else %>
  <%= render 'poi_desktop_show' %>
<% end %>

<div id="hidden-div"></div>

<script type="text/javascript">
  setTimeout(function() {
    const hiddenDiv = document.getElementById('hidden-div');
    hiddenDiv.classList.add('display-div');
    const answer_button = document.getElementById('answer-button');
    answer_button.click();
 }, 18000);
</script>


